

<div cdkDropListGroup>

    <div class="boardContainer">
        <div cdkDropList cdkDropListOrientation="horizontal"  [cdkDropListData]="cards3" class="cardPlace"  (cdkDropListDropped)="drop($event)">
            <div class="card" *ngFor="let item of cards3  " cdkDrag>
                
                <h3 class="title-card" >{{item.title}}</h3>
                <img class="img-card" [src]="item.img">{{item.date}}
            </div>
        </div>
        <button class="btn"> Valider</button>
    </div>

    <div class="boardContainer">
        <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="cards2"  class="cardPlace"  (cdkDropListDropped)="drop($event)">
            <div class="card" *ngFor="let item of cards2  " cdkDrag>
                
                <h3 class="title-card" >{{item.title}}</h3>
                <img class="img-card" [src]="item.img">{{item.date}}
            </div>
        
            
        </div>
    <button class="btn" (click)="generateCards()"> Piocher</button> 
    </div>
</div>
  



